/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Sep, 2018, 2:01:25 PM
    Author     : farisha
*/
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

.fieldWithErrors {
	background-color: red;
	display: table;
        color: black;

}
.fieldWithErros label {
	color: #fff;
}
#errorExplanation {
	width: 300px;
	border: 2px solid red;
	padding: 2px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
        padding: 2px;
}


#errorExplanation ul li {
	font-size: 15px;
	list-style: square;
	font-size: 50%;
	font-weight: bold;
	padding: 5px;
}

#image{
    width:40%;
    float:right
}
#info{
    width:50%;
    
    
}
.links{
    width: 700px;
    margin: 0px auto;
}
.link-div {
    margin: 10px 40px;
    width: 275px;
    float: left;
    height: 80px;
}
.link_desc {
    margin-top: 5px;
    color: #666;
    text-align: justify;
    font-size: 14px;
}

/* footer */

footer ul {
    
list-style: none;
}
footer ul li {
float: left;
margin-left: 10px;}

footer {
    position: fixed;
   bottom: 0;
}

.breadcrumb {
color: #205791;
font-size: 13px;
margin-bottom: 35px;
margin-left: 0px !important;
background:none;
    margin-top: -15px;
}

.bread-crumb-separator {
color: #666666;
margin-left: 5px;
margin-right: 5px;
float: left;
}
.breadcrumb a {
    color: #666666;
    text-decoration: none;
    float: left;
}